{% extends 'common.html' %}
{% block common %}
    {% load static %}
    {% include 'student/student_menu.html' %}
    <br><br><br>
    <script src="{% static 'js/ajaxcalls.js' %}"></script>

        <table align="center" border="1">
            <form action="{% url 'save_student_registration' %}" method="post">
            {% csrf_token %}
                <tr><th style="text-align: center;font-size: 30px">Student Register</th></tr>
                <tr><th><input type="text" name="name" placeholder=" Enter Student Name" required></th></tr>
                <tr>
                    <th>
                        <input type="number" id="contact" onblur="ajaxcall('contact','http://127.0.0.1:8000/checkContact/','cs')" name="contact" placeholder="Enter Contact Number" required>
                        <span id="cs"></span>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="email" id="email" onblur="ajaxcall('email','http://127.0.0.1:8000/checkEmail/','es')" name="email" placeholder="Enter Email" required>
                        <span id="es"></span>
                    </th>
                </tr>
                <tr><th><input type="password" name="password" placeholder="Enter Password" required></th></tr>
                <tr><th><input type="password" name="password2" placeholder="Confirm Password" required></th></tr>
                <tr><th style="text-align: center"><button type="submit" id="button">Register</button> </th></tr>
            </form>
            {% if messages %}
                <tr>
                    <th>
                       {% for message in messages %}
                            <h5 align="center">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            </h5>
                       {% endfor %}
                    </th>
                </tr>
            {% endif %}
        </table>

{% endblock %}